.collegue {
    max-width: 100vh;
    display: flex;
    width: 500px
}

.header {
    display: inline-block;
    padding: 5px;
    margin-top: 0;
}

.data {
    display: block;
}

.data label {
    float: left;
}

.data input {
    float: right;
}

.image {
    display: block;
    float: left;
    width: 130px;
    ;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 5px;
}

.bouton {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 7px;
}